<!--The content below is only a placeholder and can be replaced.-->
<div class="topnav" id="myTopnav">
  <a href="#home">Home</a>
  <a href="#search">Search</a>
  <a href="#profile">Profile</a>
  <a class="btn btn-block btn-social btn-github">
    <span class="fa fa-github" ng-click="authenticate()"></span> Sign in with GitHub
  </a>
</div>
<div id="home-cover">
  <div id="home-content-box">
    <div id="home-content=box-inner">
      <div id="home-heading">
        <h3> <br>
        </h3>
      </div>
      <div id="home-btn">
        <a class="btn btn-lg" href="#work" role="button" title="Post">Post</a>
      </div>
    </div>

  </div>
</div>

