<!--The content below is only a placeholder and can be replaced.-->
<div class="topnav" id="myTopnav">
  <a href="#home">Home</a>
  <a href="#search">Search</a>
  <a href="#profile">Profile</a>
  <a class="btn btn-block btn-social btn-github">
    <span class="fa fa-github" ng-click="authenticate()"></span> Sign in with GitHub
  </a>
</div>
<div id="home-cover">
  <div id="home-content-box">
    <div id="home-content=box-inner">
      <div id="home-heading">
        <h3> <br>
        </h3>
      </div>
      <div id="home-btn">
        <a class="btn btn-lg" href="#work" role="button" title="Post">Post</a>
      </div>
    </div>

  </div>
</div>
<section id="services">

  <div class="content-box">
    <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
      <h3> Posts </h3>
      <div class="content-title-underline"></div>
    </div>

    <div class="container">

      <div class="row">

        <div class="col-md-4 col-sm-6">

          <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">

            <div class="service-item-icon">
              <i class="fa fa-paint-brush fa-3x"></i>
            </div>

            <div class="service-item-title">
              <h3> Web Design</h3>
            </div>

            <div class="service-item-desc">
              <p>Tamen fabulas id varias tamen qui nam enim.</p>
            </div>

          </div>

        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">

            <div class="service-item-icon">
              <i class="fa fa-laptop fa-3x"></i>
            </div>

            <div class="service-item-title">
              <h3> Web Development</h3>
            </div>

            <div class="service-item-desc">
              <p>Tamen fabulas id varias tamen qui nam enim.</p>
            </div>

          </div>


        </div>
        <div class="col-md-4 col-sm-6">

          <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">

            <div class="service-item-icon">
              <i class="fa fa-tablet fa-3x"></i>
            </div>

            <div class="service-item-title">
              <h3>Mobile Apps</h3>
            </div>

            <div class="service-item-desc">
              <p>Tamen fabulas id varias tamen qui nam enim.</p>
            </div>

          </div>

        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">

            <div class="service-item-icon">
              <i class="fa fa-search fa-3x"></i>
            </div>

            <div class="service-item-title">
              <h3> SEO Optimization </h3>
            </div>

            <div class="service-item-desc">
              <p>Lorem ipsum dapibus tempor ipsum, ut dolor sit amet</p>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
            <div class="service-item-icon">
              <i class="fa fa-pencil-square-o fa-3x"></i>
            </div>

            <div class="service-item-title">
              <h3> UX Design </h3>
            </div>

            <div class="service-item-desc">
              <p>Lorem ipsum dapibus tempor ipsum, ut dolor sit amet</p>
            </div>

          </div>


        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-item wow animated fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">

            <div class="service-item-icon">
              <i class="fa fa-life-ring fa-3x"></i>
            </div>

            <div class="service-item-title">
              <h3> Support </h3>
            </div>

            <div class="service-item-desc">
              <p>Lorem ipsum dapibus tempor ipsum, ut dolor sit amet</p>
            </div>

          </div>
        </div>

      </div>

    </div>


  </div>

</section>


